/* footer */

.footer-section {
    background-color: var(--footer-background-color);
    padding: 60px 0;
}

.logo__footer {
    color: #FFFFFF;
}

.footer {
    display: flex;
}


.address {
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
}

.address__contact {
    color: var(--background-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__details {
    color: var(--footer-links-color);
    text-decoration: none;
    display: block;
    margin-top: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__details:hover,
.address__contact:focus,
.address__details:focus {
    color: var(--hover-logo-text-color);
}


.footer-social-section {
    margin-top: 12px;
    margin-left: 70px;
}

.footer-social-section__text {
    font-weight: 700;
    color: var(--background-color);
    text-transform: uppercase;
}

.social-icon--footer {
    margin-top: 20px;
}

.social-icon__link--footer {
    background-color: var(--footer-social-background);
}

.social-icon__link--footer:hover,
.social-icon__link--footer:focus {
    background-color: var(--hover-logo-text-color);
}

.social-icon__svg--footer {
    fill: var(--background-color);

}

.footer-form {
    position: relative;

}

.footer-form__label {
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

}

.footer-form--position {
    margin-top: 12px;
    margin-left: 93px;
}

.footer-form__input {
    position: absolute;
    height: 50px;
    width: 358px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    left: 0;
    top: 36px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 0px 16px;
}

.footer-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.button--footer {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: 370px;
    padding: 0px;
    top: 20px;
}

.button__footer-text {
    position: absolute;
    left: 29px;
    top: 10px;
}

.button__footer-image {
    position: absolute;
    right: 28px;
    top: 13px;
    width: 24px;
    height: 24px;
    fill: var(--background-color);

}