/* portfolio filter */

.filter-list {
    display: flex;
    justify-content: center;
}

.button--filter {
    background: var(--studio-down-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: inherit;
    padding: 6px 22px;
    border-color: var(--studio-down-background-color);
}

.filter-list__item:not(:last-child) {
    margin-right: 8px;
}

.button--filter:hover,
.button--filter:focus {
    background-color: var(--hover-logo-text-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio projects list */

.progect:hover,
.progect:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.progect__image {
    position: relative;
    overflow: hidden;
}

.progect__image::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-background-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progect:hover .progect__image::after {
    transform: translateY(0)
}

.progect-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 50px;
}


.progect__owner {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.progect__direction {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    text-decoration: none;
}

.progect {
    width: 370px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progect--margin {
    margin: 15px;
}

.progect__description {
    padding: 20px 24px;
    display: block;
}

/* .progect__description > p { 
    margin-top: 4px;
} */
/* ALTERNATIVE================

.progect:nth-child(3n) {
    margin-right: 0;
}
.progect:nth-child(-n+3) {
    margin-bottom: 0;
============================== } */