body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* 2 */
}
body.modal-open {
  overflow: hidden;
}

/* general */
:root {
  --background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --studio-down-background-color: #F5F4FA;
  --hover-logo-text-color: #2196F3;
  --hover-hero-button-color: #188CE8;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --social-network-icons: #afb1b8;
  --footer-social-background: rgba(255, 255, 255, 0.1);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

.section {
  padding: 94px 0px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
@media (max-width: 1199px) {
  .primary-title {
    font-size: 24px;
  }
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.social-icon__link, .social-icon, .customers__link, .item__image, .form--button, .cross-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__details {
  display: flex;
  align-items: center;
}

/* header */
.header__section {
  display: flex;
  align-items: center;
}
.header__border {
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .nav {
    background-color: #FFFFFF;
    position: absolute;
    top: -60px;
    display: block;
    padding-left: 40px;
    padding-top: 48px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .nav__page {
    display: block;
    color: var(--title-text-color);
    padding: 16px 0px;
  }
  .nav__page:not(:first-child) {
    margin-top: 32px;
  }
}
.nav__page--current {
  color: var(--hover-logo-text-color);
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    display: block;
    margin-right: 50px;
  }
  .nav__item:first-child {
    margin-left: 93px;
  }
  .nav__item:last-child {
    margin-right: 0px;
  }
  .nav__page {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    padding: 32px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__page--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    nav-left: 0;
    background-color: #2196F3;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
}
.nav__page:hover, .nav__page:focus {
  color: var(--hover-logo-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contact__item + .contact__item {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    padding-left: 305px;
  }
  .contact__item {
    margin-left: 30px;
  }
  .contact__item:first-child {
    margin-left: 0;
  }
}
.contact__details {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--desrcrition-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 10px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .contact__details {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    padding: 0;
  }
}
.contact__details:hover, .contact__details:focus {
  color: var(--hover-logo-text-color);
}
.contact__svg-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.5px) {
  .contact__svg-envelope {
    display: none;
  }
}
.contact__svg-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.5px) {
  .contact__svg-smartphone {
    display: none;
  }
}
.contact__details:hover > .contact__svg-envelope, .contact__details:focus > .contact__svg-envelope, .contact__details:hover > .contact__svg-smartphone, .contact__details:focus > .contact__svg-smartphone {
  fill: var(--hover-logo-text-color);
}
@media screen and (max-width: 767.5px) {
  .contact {
    position: absolute;
    top: 490px;
    padding-left: 40px;
  }
  .contact__details {
    font-size: 34px;
    line-height: 1.18;
    color: #2196F3;
  }
}

@media screen and (max-width: 767.5px) {
  .email-position {
    position: absolute;
    top: 72px;
    font-size: 24px;
    line-height: 1.17;
    color: #757575;
  }
}
.menu-button {
  margin-left: auto;
  display: flex;
  padding: 10px 0;
  background-color: inherit;
  border: none;
}
@media (min-width: 768px) {
  .menu-button {
    visibility: hidden;
    position: absolute;
  }
}
.menu-button__svg-menu {
  height: 40px;
  width: 40px;
}
.menu-button__icon-menu {
  display: none;
  position: absolute;
}
.menu-button.is-open .menu-button__icon-cross {
  display: none;
}
.menu-button.is-open .menu-button__icon-menu {
  display: block;
}

.menu-container {
  background-color: #FFFFFF;
  display: flex;
}
@media screen and (max-width: 767.5px) {
  .menu-container {
    position: absolute;
    display: none;
    left: 0;
    top: 59px;
    height: 100%;
    min-height: 100vw;
    width: 100vw;
  }
  .menu-container.is-open {
    display: block;
  }
}

.container-nav {
  max-width: 480px;
  margin: 0 auto;
}

@media screen and (max-width: 767.5px) {
  .container-contact {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .container-contact {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contact {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.container-menu-social {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-top: 666px;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .container-menu-social {
    display: none;
  }
}

.menu-social {
  display: flex;
  margin: -10px;
}
.menu-social__link {
  margin: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196F3;
}
.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* studio hero title */
.hero {
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_480x400@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  color: var(--background-color);
  padding: 118px 0px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_480x400@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_1600x600@1x.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_1600x600@2x.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_768x400@1x.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767.5px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767.5px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767.5px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767.5px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-our-company_768x400@2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0px auto;
}
@media screen and (max-width: 767.5px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    margin: 0px auto;
  }
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* .backdrop.is-hidden .modal {
 transform: translate(-50%, -50%) scale(0.8);

} */
.modal {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
@media screen and (max-width: 1199.5px) {
  .modal {
    width: 450px;
  }
}
.modal--absolute {
  position: absolute;
}

.cross-button {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.cross-button__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cross-button:hover .cross-button__svg, .cross-button:focus .cross-button__svg {
  fill: var(--hover-logo-text-color);
}
.cross-button__icon {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  fill: #000;
}

/* modal window --- form */
.form {
  padding: 40px 40px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}
.form--button {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
}

.form-block + .form-block {
  margin-top: 10px;
}
.form-block__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-block__input {
  display: flex;
  position: relative;
  margin-top: 4px;
}
.form-block__field {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-block__image {
  position: absolute;
  margin-top: 11px;
  margin-left: 12px;
  height: 18px;
  width: 18px;
}
.form-block__image {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-block__field--comment::-moz-placeholder {
  color: var(--placeholder-color);
}
.form-block__field--comment:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.form-block__field--comment::placeholder {
  color: var(--placeholder-color);
}
.form-block__field--comment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  line-height: 1.17;
  resize: none;
}
.form-block__field:hover, .form-block__field:focus {
  border-color: var(--hover-logo-text-color);
}
.form-block__field:hover + .form-block__image, .form-block__field:focus + svg > .form-block__svg {
  fill: var(--hover-logo-text-color);
}
.form-block__svg:hover {
  fill: var(--hover-logo-text-color);
}

.form-agreement {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.715;
  cursor: pointer;
}
@media screen and (max-width: 1199.5px) {
  .form-agreement {
    font-size: 12px;
  }
}
.form-agreement--position {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .form-agreement--position {
    margin-left: 13px;
  }
}
.form-agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-agreement__check {
  position: absolute;
  height: 15px;
  width: 16px;
  border-radius: 2px;
  background-size: contain;
  background-color: #2196F3;
  fill: var(--background-color);
  opacity: 0;
  margin-right: 7px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement__checked-form {
  height: 15px;
  width: 16px;
  margin-right: 7px;
}
.form-agreement__checkbox:checked + .form-agreement__check {
  opacity: 1;
}
.form-agreement__checkbox:checked + .form-agreement__checked-form {
  opacity: 0;
}
.form-agreement__conditions {
  color: var(--hover-logo-text-color);
  text-decoration: underline;
  padding-left: 3px;
}

@media screen and (min-width: 1200px) {
  .section--advantages {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  width: 270px;
}
@media screen and (max-width: 767.5px) {
  .item {
    width: 100%;
  }
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item {
    width: 354px;
  }
  .item:nth-child(odd) {
    margin-right: 15px;
  }
  .item:nth-child(even) {
    margin-left: 15px;
  }
  .item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .item:not(:last-child) {
    margin-right: 30px;
  }
}
.item__image {
  width: 100%;
  height: 120px;
  background-color: var(--studio-down-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.item__svg {
  width: 70px;
  height: 70px;
}
.item__title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (max-width: 767px) {
  .item__title {
    max-width: 100%;
    text-align: center;
  }
}
.item__text {
  width: 100%;
  height: 75px;
  margin-top: 10px;
  line-height: 1.71;
}
@media screen and (max-width: 767.5px) {
  .item__text {
    width: 100%;
    height: 50px;
  }
}

/* products section */
@media (max-width: 1199.5px) {
  .review {
    display: none;
  }
}

.product-list {
  z-index: 0;
  display: flex;
}
.product-list--position {
  margin-top: 50px;
}

.product-item {
  position: relative;
}
.product-item:not(:last-child) {
  margin-right: 30px;
}
.product-item__name-container {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.product-item__name {
  text-transform: uppercase;
  width: 700;
  line-height: 1.17;
  color: #FFFFFF;
  text-align: center;
  padding: 27px 0;
}

/* studio our team */
.team {
  background-color: var(--studio-down-background-color);
}

.team-list--margin {
  margin: 0 -15px;
}
@media screen and (min-width: 1200px) {
  .team-list--margin {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-member {
  background-color: var(--background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}
@media screen and (max-width: 767.5px) {
  .team-member {
    flex-basis: calc(100% - 30px);
  }
  .team-member > img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .team-member {
    flex-basis: calc((100% - 60px) / 2);
  }
  .team-member > img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    flex-basis: calc((100% - 120px) / 4);
  }
  .team-member > img {
    width: 100%;
    height: auto;
  }
}
.team-member--margin {
  margin: 0 15px;
}
@media screen and (max-width: 1199px) {
  .team-member {
    margin-top: 30px;
  }
}
.team-member__details {
  padding-top: 30px;
}
.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}

/* our customers */
.customers {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199.5px) {
  .customers {
    flex-wrap: wrap;
  }
}
.customers--margin {
  margin: -15px;
  margin-top: 50px;
}
.customers__item {
  margin: 15px;
}
.customers__link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--hover-logo-text-color);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--hover-logo-text-color);
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio filter */
.filter-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filter-list {
    align-items: center;
  }
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.progect-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 50px;
}

.progect {
  width: 370px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progect--margin {
  margin: 15px;
}
.progect__description {
  padding: 20px 24px;
  display: block;
}
.progect__direction {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  text-decoration: none;
}
.progect__owner {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.progect__image {
  position: relative;
  overflow: hidden;
}
.progect__image::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progect:hover, .progect:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progect:hover .progect__image::after {
  transform: translateY(0);
}

/* .progect__description > p { 
    margin-top: 4px;
} */
/* ALTERNATIVE================

.progect:nth-child(3n) {
    margin-right: 0;
}
.progect:nth-child(-n+3) {
    margin-bottom: 0;
============================== } */
/* footer */
.footer-section {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}
@media screen and (max-width: 1199.5px) {
  .footer-section {
    display: block;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__addres-social-section {
    display: flex;
    justify-content: center;
  }
}

.address {
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}
.address__contact {
  color: var(--background-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__details {
  color: var(--footer-links-color);
  text-decoration: none;
  display: block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__details:hover, .address__contact:focus, .address__details:focus {
  color: var(--hover-logo-text-color);
}

.footer-social-section {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer-social-section {
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-section {
    margin-left: 70px;
    margin-top: 12px;
  }
}
.footer-social-section__text {
  font-weight: 700;
  color: var(--background-color);
  text-transform: uppercase;
}

.footer-form {
  position: relative;
}
.footer-form__label {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-form--position {
  margin-top: 60px;
  margin-left: 0px;
}
@media screen and (min-width: 1200px) {
  .footer-form--position {
    margin-left: 93px;
    margin-top: 12px;
  }
}
.footer-form__input {
  position: absolute;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 36px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding: 0px 16px;
}
@media screen and (min-width: 767.5px) and (max-width: 1199.5px) {
  .footer-form__input {
    width: 450px;
    margin-left: 151px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background: var(--hover-logo-text-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--hover-hero-button-color);
}
.button--hero {
  margin-top: 30px;
  height: 50px;
  width: 200px;
}
.button--footer {
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0px;
  top: 20px;
}
@media screen and (max-width: 1199.5px) {
  .button--footer {
    margin: 0 auto;
    display: block;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .button--footer {
    margin-left: 370px;
  }
}
.button__footer-text {
  position: absolute;
  left: 29px;
  top: 10px;
}
.button__footer-image {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: var(--background-color);
}
.button--filter {
  background: var(--studio-down-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: inherit;
  padding: 6px 22px;
  border-color: var(--studio-down-background-color);
}
.button--filter:hover, .button--filter:focus {
  background-color: var(--hover-logo-text-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-icon--team {
  margin-top: 16px;
  padding-bottom: 30px;
}
.social-icon__link {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__item + .social-icon__item {
  margin-left: 10px;
}
.social-icon__svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__svg--team {
  fill: var(--social-network-icons);
}
.social-icon__link:hover, .social-icon__link:focus {
  background-color: var(--hover-logo-text-color);
}
.social-icon__link:hover > .social-icon__svg, .social-icon__link:focus > .social-icon__svg {
  fill: var(--background-color);
}
.social-icon--footer {
  margin-top: 20px;
}
.social-icon__link--footer {
  background-color: var(--footer-social-background);
}
.social-icon__link--footer:hover, .social-icon__link--footer:focus {
  background-color: var(--hover-logo-text-color);
}
.social-icon__svg--footer {
  fill: var(--background-color);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--hover-logo-text-color);
}
@media (max-width: 1199.5px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__header {
  color: var(--title-text-color);
}
.logo__footer {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */