/* our customers */

.customers {
    display: flex;
    justify-content: center;


    @media screen and (max-width: 1199.5px) {
        flex-wrap: wrap;

    }


    &--margin {
        margin: -15px;
        margin-top: 30px;
        @media screen and (min-width: 1200px) {
            margin-top: 50px;
        }
    }

    &__item {
        margin: 15px;
    }

    &__link {
        @extend %flex-center;
        width: 210px;
        height: 92px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



        @media screen and (min-width: 768px) and (max-width: 1199.5px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }

    }

    &__link:hover,
    &__link:focus {
        border-color: var(--hover-logo-text-color);
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: var(--hover-logo-text-color);
    }


    &__icon {
        width: 106px;
        height: 60px;
        fill: #afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

