.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--hover-logo-text-color);

    @media (max-width: 1199.5px) {
        @include font (700, 24px, 1.17);
    }

    @media (min-width: 1200px) {
        @include font (700, 26px, 1.19);
    }

    &__header {
        color: var(--title-text-color)
    }

    &__footer {
        color: #FFFFFF;
    }

}

