/* general */
:root {
    --background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --studio-down-background-color: #F5F4FA;
    --hover-logo-text-color: #2196F3;
    --hover-hero-button-color: #188CE8;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --social-network-icons: #afb1b8;
    --footer-social-background: rgba(255, 255, 255, 0.1);
    --overlay-background-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}